<div class="gv-ath-wrapper by-country hide-el" data-position="{{medal.position}}">
                <div class="gv-ath-day-event-table by-country">
                                {{#each objArr}}
                                   {{#if medal}} <div class="gv-ath-day-event-table-row">
                                    
                                    <div class="gv-ath-table-el date">{{formatDate}}</div>

                                    <div class="gv-ath-table-row__flag  color-{{medal}}"></div>
                                    <div class="gv-ath-table-el athlete-with-date"><span class="gv-ath-table-hl">{{athlete}}, {{sexStr}} {{formatEvent}}</span>  </div>
                                  
                                    <div class="gv-ath-table-el score">{{score}}</div>
                                </div>{{/if}}
                                {{/each}}
                 </div>
            </div>