<div class="gv-ath-wrapper by-country hide-el" data-position="{{medal.position}}">
                <div class="gv-ath-day-event-table by-country">
                                {{#each objArr}}
                                   {{#if medal}} 
                                   <div class="gv-ath-day-event-table-row">                                    

                                    <div class="gv-ath-table-row__flag  color-{{medal}} by-country"></div>
                                    
                                    <div class="gv-ath-table-el athlete"><span class="gv-ath-table-hl">{{athlete}}</span>  </div>

                                    <div class="gv-ath-table-el event">{{sexStr}} {{formatEvent}}</div>
                                  
                                    <div class="gv-ath-table-el score">{{score}}</div>
                                </div>{{/if}}
                                {{/each}}
                 </div>
            </div>