<section class="gv-day-slice-section hide-el" data-id="day-slice-{{dayNumber}}">
    <div class="gv-slice-inner">
    
        <div class="gv-slice-inner-main">
                   
                    <div class="gv-ux-holder">
                        <div class="gv-ux-left">
                        </div>
                        <div class="gv-ux-right">
                        </div>
                    </div>
            

                    {{#each dayEventsArr}}
                    <div class="gv-ath-wrapper">
                    <div class="gv-ath-day-event-title{{#if result}}-result{{/if}}" data-id="{{objKey}}">
                        <div class="gv-ath-day-event-title-time" >{{timeFormat}}</div>  

                        <div class="gv-ath-day-event-title-main" ><div class="gv-ath-record-row__flag {{#if highlightEvent}}final{{/if}}">
                                                                        {{#if highlightEvent}}
                                                                            <div class="top-circle"></div>
                                                                            <div class="left-circle"></div>
                                                                            <div class="right-circle"></div>
                                                                        {{/if}}

                                                                    </div> {{gender}} {{formatTitle}}</div>
                        {{#if result}} <div class="gv-ath-table-row__close-btn open"  style=""></div> {{/if}}
                    </div>

                    <div class="gv-ath-day-event-table hide-el" data-id="{{objKey}}">
                                {{#each objArr}}
                                   {{#if resultTable}}   
                                    {{#each resultTable}}
                                        <div class="gv-ath-day-event-table-row">
                                            
                                            <div class="gv-ath-table-el place {{#if medal}}medal-place{{/if}}">
                                             
                                            
                                            {{#if medal}}<div class="gv-ath-table-row__flag  color-{{medal}}"></div>
                                            {{else}}
                                            {{place}}.
                                            {{/if}}

                                        </div>
                                            

                                            <div class="gv-ath-table-el athlete"> {{athlete}} (<div class="gv-ath-table-row__flag" style="background-image:url('<%= path %>/assets/imgs/flags/{{flag}}.svg')"></div>{{ISO}})</div>
                                          
                                            <div class="gv-ath-table-el score">{{score}}</div>
                                        </div>
                                    {{/each}}
                                    {{/if}}
                                {{/each}}
                    </div> 

                    </div>      
                    {{/each}}

        </div>
    </div>
</section>




