

<li class="om-table-row {{#if hidden}}hidden-row{{/if}}" data-id="{{objKey}}" data-position="1">

    <div class="om-table-left-area">
        <div class="om-table-row__position">{{medal.position}}.</div>
        <div class="om-table-row__flag om-flag om-flag--{{objKey}}"  style="background-image:url('<%= path %>/assets/imgs/flags/{{flag}}.svg')"></div>
        <div class="om-table-row__country">{{objKey}}</div>
    </div>
    <div class="om-table-row__medal om-table-row-medal__first">
        <div class="om-medal-white" style="transform:scaleX({{circleSizes.gold}})"></div>
        <div class="om-medal-circle om-medal-circle--gold" style="transform:scale({{circleSizes.gold}})"></div>
        <div class="om-medal-label" data-count="{{medal.gold}}">{{medal.gold}}</div>
    </div>
    <div class="om-table-row__medal">
        <div class="om-medal-white" style="transform:scaleX({{circleSizes.silver}})"></div>
        <div class="om-medal-circle om-medal-circle--silver" style="transform:scale({{circleSizes.silver}})"></div>
        <div class="om-medal-label" data-count="{{medal.silver}}">{{medal.silver}}</div>
    </div>
    <div class="om-table-row__medal">
        <div class="om-medal-white" style="transform:scaleX({{circleSizes.bronze}})"></div>
        <div class="om-medal-circle om-medal-circle--bronze" style="transform:scale({{circleSizes.bronze}})"></div>
        <div class="om-medal-label" data-count="{{medal.bronze}}">{{medal.bronze}}</div>
    </div>
    <div class="om-table-row__total">{{medal.total}}</div>

</li>
























