

<li class="om-table-row " data-id="USA" data-position="1">

    <div class="om-table-left-area">
        <span class="om-table-row__position">
        
            {{medal.position}}.
        
        </span>
        <span class="om-table-row__flag om-flag om-flag--{{objKey}}"></span>
        <span class="om-table-row__country">{{objKey}}</span>
    </div>
    <div class="om-table-row__medal om-table-row-medal__first">
        <div class="om-medal-white" style="transform: scale(9);-ms-transform: scale(9);-webkit-transform: scale(9);-moz-transform: scale(9), "></div>
        <div class="om-medal-circle om-medal-circle--gold" style="transform: scale(8);-ms-transform: scale(8);-webkit-transform: scale(8);-moz-transform: scale(8)"></div>
        <span class="om-medal-label" data-count="{{medal.gold}}">
            {{medal.gold}}
        </span>
    </div>
    <div class="om-table-row__medal">
        <div class="om-medal-white" style="transform: scale(8.17483525034305);-ms-transform: scale(8.17483525034305);-webkit-transform: scale(8.17483525034305);-moz-transform: scale(8.17483525034305)"></div>
        <div class="om-medal-circle om-medal-circle--silver" style="transform: scale(7.174835250343049);-ms-transform: scale(7.174835250343049);-webkit-transform: scale(7.174835250343049);-moz-transform: scale(7.174835250343049)"></div>
        <span class="om-medal-label" data-count="{{medal.silver}}">
            {{medal.silver}}
        </span>
    </div>
    <div class="om-table-row__medal">
        <div class="om-medal-white" style="transform: scale(8.271146073171085);-ms-transform: scale(8.271146073171085);-webkit-transform: scale(8.271146073171085);-moz-transform: scale(8.271146073171085)"></div>
        <div class="om-medal-circle om-medal-circle--bronze" style="transform: scale(7.271146073171085);-ms-transform: scale(7.271146073171085);-webkit-transform: scale(7.271146073171085);-moz-transform: scale(7.271146073171085)"></div>
        <span class="om-medal-label" data-count="{{medal.silver}}">
            {{medal.bronze}}
        </span>
    </div>
    <div class="om-table-row__total">{{medal.total}}</div>
</li>
























