
<section class="gv-slice-section">
        <!-- <div class="gv-section-bullet-wrapper main-list-bullet" section-ref="{{objKey}}">
            <div class="gv-section-bullet">{{objKey}}</div>
        </div> -->

        <div class="gv-slice-inner">
        <div class="gv-slice-inner-left">
        	<h2>Heading here</h2>
        </div>	

    	<div class="gv-slice-inner-main">
			<ol class="om-table js-table">
			{{#each medalsArr}}
	        	{{> leaderRow }} 
	        {{/each}}

    	</ol>	

    	</div>	
            
        </div>
</section>



