 

{{#if recordsArr}}
<section class="gv-slice-section">
    <div class="gv-slice-inner">
        <div class="gv-slice-inner-left">
            <h3>Records</h3>
        </div>
        <div class="gv-slice-inner-main">
            {{#each recordsArr}} 
                {{> recordRow }} 
            {{/each}}
        </div>
    </div>
</section>
{{/if}}

<section class="gv-slice-ux-section">
    <div class="gv-slice-inner">
        <div class="gv-slice-inner-left">
            <h3>By country</h3>
        </div>
        <div class="gv-slice-inner-main">
            <div class="gv-ux-selector-left gv-no-border">
                <div class="gv-ux-el label">
                    Showing
                </div>
                <select class="gv-team-list" id="gv-ath-medal-by-country-selector">
                    {{#each countriesArr}}
                    <option value="{{position}}">{{country}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</section>

<section class="gv-slice-section" >
    <div class="gv-slice-inner">
        <div class="gv-slice-inner-main" id="slice-medals-by-country">
            <ol class="om-table js-table by-country" id="list-medals-by-country">
                {{#each medalsArr}} {{> leaderRow }} {{/each}}
            </ol>
                {{#each medalsArr}} {{> byCountryRow }} {{/each}}
        </div>
    </div>
</section>


<section class="gv-slice-section"  style="border:none;" id="leaderBoardSlice">

    <div class="gv-slice-inner">
        <div class="gv-slice-inner-left" style="padding-top:12px">
            <h3>Medals leaderboard</h3>
        </div>
        <div class="gv-slice-inner-main" style="padding-top:12px">
           <div class="gv-expanding-wrapper"  style="height:600px; overflow:hidden;" id="expandingWrapper">
                <ol class="om-table js-table" id="section-leaderboard">
                    {{#each medalsArr}} {{> leaderRow }} {{/each}}
                </ol>
            </div>

            <div class="gv-button-holder">
                <button class="js-leaderboard-button om-expand-button" id="medal-expand-button">Show more</button>
                <button class="js-leaderboard-button om-collapse-button hide-el" id="medal-collapse-button">Show less</button>
            </div>
            
        </div>

    </div>
</section>

<section class="gv-slice-section">
<div class="ad-section">
        <div class="c-advert interactive-ad-banner">
    <div class="ad-wrapper--desktop hide-until-tablet">
        <div id="dfp-ad--inline210620171741"
             class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop"
             data-link-name="ad slot banner"
             data-name="banner"
             data-tablet="1,1|2,2|728,90"
             data-desktop="1,1|2,2|88,70|728,90|940,230|900,250"></div>
    </div>

    <div class="ad-wrapper--mobile mobile-only">
        <div id="dfp-ad--inline210620171741Mobile"
             class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline210620171741"
             data-link-name="ad slot inline210620171741Mobile"
             data-name="inline21062017Mobile"
             data-mobile="1,1|2,2|300,250|fluid"></div>
    </div>
</div>
</div>
</section>


<section class="gv-slice-ux-section">
    <div class="gv-slice-inner">
        <div class="gv-slice-inner-left">
            <h3>Schedule</h3>
        </div>
        <div class="gv-slice-inner-main">
            <div class="gv-ux-selector-left gv-no-border">
                <div class="gv-ux-el label">
                    Showing
                </div>
                <div class="gv-ux-el">
                    <select class="gv-team-list" id="gv-ath-day-selector">
                        {{#each daysArr}}
                        <option value="day-slice-{{dayNumber}}">Day {{dayNumber}} ({{formatDate}}) </option>
                        {{/each}}
                    </select>
                </div>
                <div class="gv-ux-key-wrapper">
                    <div class="gv-ux-el gv-key-el">
                        <div class="gv-ath-record-row__flag final" style="margin-right: 6px;">
                            <div class="top-circle"></div>
                            <div class="left-circle"></div>
                            <div class="right-circle"></div>
                        </div> final
                        <!-- <div class="gv-ath-record-row__flag final key-icon plus"></div> result -->
                    </div>
                    <div class="gv-ux-el key-left-el">
                        <div class="gv-ath-record-row__flag final" style="margin-right: 3px; margin-top: 2px;">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;">
                                    <g>
                                        <path fill="#BDBDBD" d="M7.3,12.6c-3.3,0-6-2.7-6-6c0-3.3,2.7-6,6-6c3.3,0,6,2.7,6,6C13.3,9.9,10.6,12.6,7.3,12.6z M7.3,9.7l1.4-4.8
                                            L8.6,4.8L6.2,5.1L6,5.9h0.8L5.6,9.8c-0.2,0.7,0.2,0.9,0.7,0.9c0.6,0,1.3-0.1,1.7-0.3l0.2-0.7H7.3z M9.1,3.3c0-0.5-0.4-0.8-0.9-0.8
                                            c-0.5,0-1,0.3-1,0.9c0,0.4,0.4,0.7,0.9,0.7S9.1,3.8,9.1,3.3z"/>
                                    </g>
                            </svg>
                        </div> IAAF page
                        <!-- <div class="gv-ath-record-row__flag final key-icon plus"></div> result -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#each daysArr}} 
    {{> dayRow }} 
{{/each}}



