
<div class="gv-ath-wrapper-record">

    <div class="gv-ath-record-table">
        {{#each objArr}}
        <div class="gv-ath-record-row">
        {{#if nationalRecord}}<div class="gv-ath-table-el record-label">National record</div>{{/if}}
         {{#if worldRecord}}<div class="gv-ath-table-el record-label">World record</div>{{/if}}
         {{#if gamesRecord}}<div class="gv-ath-table-el record-label">Games record</div>{{/if}}
            <div class="gv-ath-table-el athlete">
            	<span class="gv-ath-table-hl">{{athlete}} (<div class="gv-ath-table-row__flag" style="background-image:url('<%= path %>/assets/imgs/flags/{{flag}}.svg')">
            </div> {{ISO}})</span>
        </div>
        
        <div class="gv-ath-table-el event"> {{sexStr}} {{formatEvent}}</div>
         
            <div class="gv-ath-table-el score">{{result}}</div>
            
        </div>
        {{/each}}
    </div>
</div>