<li class="om-table-row om-results-row  {{#if hidden}}hidden-row{{/if}}" data-id="{{objKey}}" data-position="1">
    <div class="om-table-left-area">
        <div class="om-table-row__time">{{timeFormat}}</div>
        <div class="om-table-row__result-icon--{{result}}"></div>
    </div>
    <div class="om-table-row__result-title">{{gender}} {{formatTitle}}</div>
    {{#if result}}
    <div class="om-table-row__total">+</div>

    <table class="gv-ath-table">
        <thead>
           
            <tr class="gv-ath-table__subheaders">
                <th>Place</th>
                <th> </th>
                <th>Athlete</th>
                <th>result</th>
             
            </tr>
        </thead>
        <tbody>
            {{#each objArr}}
            <tr class="gv-ath-table-row">
                <td>{{place}}.</td>
                <td><span class="om-table-row__flag"  style="background-image:url('<%= path %>/assets/imgs/flags/{{flag}}.svg')"></span></td>
                <td class="om-entrant__name" title="{{athlete}} ({{ISO}})">{{athlete}} ({{ISO}})</td>
                
                <td class="om-entrant__result">{{result}}</td>
            </tr>
             {{/each}}
        </tbody>
    </table>
   
    {{/if}}
</li>