 .gv-ath-record-col{
        width:300px;
        display:inline;
}

.gv-ath-wrapper-record {
    position: relative;
    display: inline-block;
      vertical-align: top;
    width: 100%;
    color: $neutral-1;
    @include fs-textSans(3);

    .gv-ath-record-table {
        position: relative;
        margin: 0;
        width: 100%;
        color: $neutral-1;
        &.by-country {
            margin-top: 60px;
            margin-left: 36px;
        }
    }

    .gv-ath-day-event-title, .gv-ath-day-event-title-result {
        margin: 6px 0;
        .gv-ath-day-event-title-time {
            float: left;
            display: inline-block;
            width: 60px;
        }
        .gv-ath-day-event-title-main {
            width: auto;
        }
    }

    .gv-ath-record-row {
        position: relative;
        width: 100%;
        height: auto;
        padding-top:3px;
        border-top: 1px dotted $neutral-3;
     
            @include mq(mobileLandscape){
                max-width:460px;
            }
            @include mq(tablet){
                max-width:620px;
            }
    }

    .gv-ath-record-row:first-child {
        border-top: none;
    }

    .gv-ath-table-el {
        width: 40px; 
        height:auto;
        display: inline-block;
        text-align: left;
        overflow: hidden;

        @include mq(tablet){
            height: 24px;
        }

        &.event {
            width: auto;
            max-width: 220px;
            @include mq(tablet){
                max-width:300px;
            }
        }

        &.record-label{
            width:100%;
            @include mq(tablet){
                width:80px;
            }
        }

        &.score { 
            width:60px;
            position:absolute;
            right:0;
            color: $neutral-1;
            text-align: right;
        }

        &.athlete { 
            width: 100%;
            @include mq(tablet){
                width:250px;
            }
        }

        &.dark{
            color:$neutral-2;
        }
        &.icon {
            width: 20px;
        }
        &.date {
            width: 100%;
            @include mq(mobileLandscape){
                width: 80px;
                float: left;
            }
            
        }
        &.athlete-with-date {
            width: calc(100% - 130px);
        }
    }

    .gv-ath-table-row__flag {
        display: inline-block;
        vertical-align: top;
        background-size: cover;
        background-position: center;
        width: 12px;
        height: 12px;
        margin: 3px 3px 0 1px;
        border-radius: 100px;
        &.color-Bronze {
            border-color: $bronze;
            background-color: $bronze;
        }
        &.color-Silver {
            border-color: $silver;
            background-color: $silver;
        }
        &.color-Gold {
            border-color: $gold;
            background-color: $gold;
        }
    }

    .medalist-icon {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background: #fff;
        border: 1px solid #CCC;
        &.color-Bronze {
            border-color: $bronze;
            background-color: $bronze;
        }
        &.color-Silver {
            border-color: $silver;
            background-color: $silver;
        }
        &.color-Gold {
            border-color: $gold;
            background-color: $gold;
        }
    }


}

.gv-ath-wrapper-record:last-child {
    border-bottom: none;
}