.gv-ath-record-row__flag {
        display: inline-block;
        vertical-align: top;
        background-size: cover;
        background-position: center;
        background-color: #FFF;
        width: 12px;
        height: 12px;
        margin: 3px 15px 0 0;
        border-radius: 100px;

          &.final{
            position:relative;
            border-radius: 0;
            width: 12px;
            height: 12px;
            background-color: #FFF;
        }
            .top-circle, .left-circle, .right-circle {
                position:absolute;
                width:7px;
                height:7px;
                border-radius: 100px;
                border: 0.5px solid #FFF; 
            }

           .top-circle{
                top: 0;
                left:3px;  
                background-color: $gold;
            }

            .left-circle{
                bottom: 0;
                left:0;  
                background-color: $silver;
            }
            .right-circle{
                bottom: 0;
                right:0;
                background-color: $bronze;
            }
}

.gv-ath-table-hl{
    font-weight:bold;
    color:$neutral-1;
}

.gv-ath-wrapper {
    position: relative;
    width: 100%;
    color: $neutral-1;
    @include fs-textSans(3);
    border-bottom: 1px solid $neutral-3;
    cursor: pointer;

    &.by-country {
        border: none;
        cursor: auto;
    }
    .gv-ath-day-event-table {
        position: relative;
        margin: 12px 0 36px 0;
        width: 100%;
        color: $neutral-2;
        

        @include mq(tablet){
            margin: 12px 0 36px 52px;
            width: calc(100% - 52px);
        }
        &.by-country {
            margin: 60px 0 36px 0;
            width: 100%;
        }
    }

    .gv-ath-day-event-title,
    .gv-ath-day-event-title-result {
        margin: 6px 0;
        .gv-ath-day-event-title-time {
            font-weight: bold;
            float: left;
            display: inline-block;
            width: 53px;
            @include mq(tablet){
                font-weight:normal;
            }
        }
        .gv-ath-day-event-title-main {
            width: auto;
        }
    }

    .gv-ath-day-event-mainEvent{

        max-width:180px;
        display:inline-block;

        @include mq(tablet){
            max-width:300px;
        }
    }

    .gv-ath-day-event-title-main{
        width:180px;
    }
    .gv-ath-day-event-table-row {
        position: relative;
        width: 100%;
        height: 48px;
        border-top: 1px dotted $neutral-3;
        padding: 6px 0;
        @include fs-textSans(1);
        @include mq(mobileLandscape){
            @include fs-textSans(3);
            height: 24px;
            padding: 0;
        }
    }
    .gv-ath-day-event-table-row:first-child {
        border-top: none;
    }
    .schedule-row-time {
        width: 15%;
    }
    .schedule-row-name {
        width: 55%;
    }
    .schedule-row-location {
        width: 30%;
    }
    .gv-ath-table-el {
        width: 40px;
        display: inline-block;
        text-align: left;
        overflow: hidden;
        &.place {
           width: 25px; 
           padding-left: 3px; 
        }
        &.medal-place {
           width: 28px; 
           padding-left: 0; 
        }
        &.score {
            position: absolute;
            right: 0;
            text-align: right;
            margin-left: 0;
            width:58px;
            @include mq(tablet){
                width: 70px;
            }

            &.res-table{
                text-align: right;

                @include mq(tablet){
                    text-align: left;
                }
            }
            
        }

        &.event {
            width: 200px;
            padding-left:30px;

        }
        &.icon {
            width: 20px;
        }
        &.date {
            width: 50px;
            float:left;
        }
        &.athlete {
            width: 100%;
            max-width:220px;
            @include mq(tablet){
                
            }
            &.res-table{
                @include mq(tablet){
                    max-width:240px;
                }
            }


        }
    }
    .gv-ath-table-row__flag {
        display: inline-block;
        vertical-align: top;
        background-size: cover;
        background-position: center;
        width: 12px;
        height: 12px;
        margin: 1px 3px;
        
        border-radius: 100px;
        @include mq(tablet){
            margin: 3px 3px 0;
        }
        &.color-Bronze {
            border-color: $bronze;
            background-color: $bronze;     
        }
        &.color-Silver {
            border-color: $silver;
            background-color: $silver;
        }
        &.color-Gold {
            border-color: $gold;
            background-color: $gold;
        }
        &.color-Gold, &.color-Silver, &.color-Bronze{
           margin:  1px 14px 1px 1px; 

           @include mq(tablet){
                margin: 3px 14px 0 1px;
            }
            
        }

        &.by-country{
            margin: 2px 15px 0 0;
             @include mq(tablet){
                margin: 3px 15px 0 3px;
            }
        }
    }

    .medalist-icon {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background: #fff;
        border: 1px solid #CCC;
        &.color-Bronze {
            border-color: $bronze;
            background-color: $bronze;
        }
        &.color-Silver {
            border-color: $silver;
            background-color: $silver;
        }
        &.color-Gold {
            border-color: $gold;
            background-color: $gold;
        }
    }

    .gv-ath-table-row__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        margin: 3px 3px 0 1px;
        vertical-align: top;
        color: $neutral-2;

        &:hover{
           color:$news-main-1;
           text-decoration: underline;
        }

        &.close {
        	background-image:url('<%= path %>/assets/imgs/plus.svg');
        	transform: rotate(45deg);
            right: 0;  

            opacity:0;

        }
        &.open{
        	background-image:url('<%= path %>/assets/imgs/plus.svg');     
        }
        &.gv-ath-table-url{
            margin: 0;
            width:70px;
            height:14px;
            text-align: right;
            padding: 2px 3px 0 0;
            right: 0;  
            svg{
                fill: $neutral-3;
                height:14px;
                width:14px;
            } 

            &:hover{
                svg{
                    fill:$news-main-1;
                }
            }
            
        }
        &.gv-ath-table-text{
            margin: 0;
            width:70px; 
            right: 0;    
            
        }
        
        background-size: cover;
        background-position: center;
    }
}

.gv-ath-wrapper:last-child {
    border-bottom: none;
}