.gv-ux-el{
  width:auto;
  @include fs-textSans(3);
  display:inline-block;

  &.label{
    margin-right:14px;
    color: $neutral-3;
  }
}

.gv-ux-selector-left, .gv-ux-selector-right{
    display: inline-block;
    width:auto;
    padding-left:12px;
    padding-bottom:12px;
}

.gv-ux-selector-left{
  border-right: 1px solid #FFF;
  padding-left:0;
  padding-right:10px;
}

.ux-inner-content{
  margin-left:260px;
}


.gv-no-border{
  border:none;
}


.gv-team-selector-container{
	margin-left:20px;

	@include mq(leftCol){
		margin-left:140px;
	}

	@include mq(wide){
		margin-left:240px;
	}
}
.gv-ux-key-wrapper{
  position:absolute;
  right:0;
  top:0;
  width: 180px;
  text-align: right;
  .gv-key-el{
    position:relative;
    margin:6px 12px 0 0;
    display:inline-block;

    // @include mq(tablet){
    //   position:absolute;
    //   top:0;
    //   right:0;
    //   margin:6px 0 0;
      
    // }
    // &.key-left-el{
    //     position:relative;
    //     margin:6px 0 0;
    //   }

  
}
}


.key-icon{
  margin: 3px 6px 0 12px !important;

  &.plus{
    background-image: url('<%= path %>/assets/imgs/plus.svg');
    background-color:#FFF;
    border:none;
  }
}

.element-atom,
.interactive-atom,
.interactive-embed {
    -webkit-font-smoothing:antialiased;
    *{
    	box-sizing:border-box;
    }

   min-height:900px;

    select{
      width:100px;
      height:24px;
    	background: $neutral-6;
    	border:1px solid $neutral-6;
    	@include fs-textSans(3)
    	color:#333;
    
    	border-radius:100px;
    	padding:3px 21px 3px 12px;

    	outline:none;
  
    	box-sizing:content-box;
    	background-image: url('<%= path %>/assets/imgs/select-arrow.svg');
    	background-repeat:no-repeat;
    	background-position: center right 12px;
    	-webkit-appearance: none;
    	   -moz-appearance: none;
    	   appearance: none;
      &:disabled{
         opacity:0.4;
      }
      @include mq(mobileLandscape){
        width:110px;
      }
    }
    
}

.gv-expanding-wrapper:after {
    position: absolute;
    bottom: 40px;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
    content: '';
    display: block;
    width: 100%;
    // border-bottom: 1px solid #CCC;
}