@import "mq";
@import "fonts";
@import "palette";

$gold: $multimedia-main-2;
$silver : $neutral-3;
$bronze : rgb(240,146,77);

$goldLight: rgba($gold, 0.7);
$silverLight : rgba($silver, 0.7);
$bronzeLight : rgba($bronze, 0.7);



@import "resultsBoard";
@import "leaderBoard";


// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.gv-slice{
	width:100%;
	max-width:1300px;
	padding-bottom:60px;
}


.gv-slice-inner{
		padding: 10px 0;
		width:100%;
		position:relative;

		@include mq(tablet){
			padding: 20px 0;
		}

		.gv-slice-inner-left{
			width:100%;
			float: left;
			@include mq(leftCol){
				width:140px;				
			}

			@include mq(wide){
				width:240px;
			}

			h3{
				@include fs-header(3);
			}
		}

		.gv-slice-inner-main{
			max-width:620px;
			position:relative;
			@include mq(leftCol){

				margin-left:140px;

			}

			@include mq(wide){
				margin-left:240px;
			}
		}
	

	}
